{
    "env": "local",
    "server": {
        "host": "0.0.0.0",
        "port": 3001,
        "host_be": "https://dev-api-golang-boilerplate-one.sandboxindonesia.id",
        "host_fe": "https://dev-golang-boilerplate-one.sandboxindonesia.id"
    },
    "postgre": {
        "host": "localhost",
        "port": "5432",
        "timezone": "Asia/Jakarta",
        "username": "riyan",
        "password": "riyan",
        "database": "golang-boilerplate-one",
        "connection": {
            "max_idle": 3,
            "max_open": 10,
            "max_lifetime": 60
        }
    },
    "redis": {
        "host": "localhost",
        "port": 6379,
        "username": "default",
        "password": "riyan",
        "database": 0
    },
    "jwt": {
        "secret": {
            "access": "secretAccess",
            "refresh": "secretRefresh",
            "reset": "secretTokenResetPwd"
        },
        "expired": {
            "logoff": 45,
            "access": 5,
            "refresh": 60,
            "reset": 10
        }
    },
    "smtp": {
        "host": "smtp.gmail.com",
        "port": 587,
        "email": "mail@mail.com",
        "password": "lalalayeyeye"
    }
}